@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* black */
  --background-rgb: 255, 255, 255; /* white */
  --hover-color-rgb: 126, 10, 203; /* purple */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255; /* white */
    --background-rgb: 0, 0, 0; /* black */
    --hover-color-rgb: 126, 10, 203; /* purple */
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }
  .hover-text-purple-600:hover {
    color: rgb(var(--hover-color-rgb));
  }
}

